.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 10;
  overflow: auto;
  animation: lightboxIn 0.5s;
  transition: opacity 0.3s;
}
.lightbox.fadeOut {
  opacity: 0;
}
.lightbox__next,
.lightbox__prev {
  border: none;
  background: url(/images/arrow.svg) center center / 30px 50px no-repeat;
  width: 50px;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  margin-top: -24px;
  z-index: 11;
} 
.lightbox__prev {
  right: auto;
  left: 0;
}
.lightbox__next {
  transform: rotate(180deg);
  left: auto;
  right: 0;
}
.lightbox__close {
  width: 30px;
  height: 30px;
  border: none;
  background: url('data:image/svg+xml;utf8,<svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14.8624 12.0502L10.3122 7.5L14.8624 2.94983C14.9496 2.86158 14.9985 2.74252 14.9985 2.61846C14.9985 2.4944 14.9496 2.37534 14.8624 2.28709L12.7129 0.137619C12.6695 0.0939993 12.6178 0.0593887 12.5609 0.0357727C12.5041 0.0121567 12.4431 0 12.3815 0C12.32 0 12.259 0.0121567 12.2021 0.0357727C12.1453 0.0593887 12.0936 0.0939993 12.0502 0.137619L7.5 4.68778L2.94983 0.137619C2.86194 0.049751 2.74275 0.000389416 2.61846 0.000389416C2.49418 0.000389416 2.37498 0.049751 2.28709 0.137619L0.137619 2.28709C0.0939993 2.33055 0.0593887 2.38219 0.0357727 2.43906C0.0121567 2.49592 0 2.55689 0 2.61846C0 2.68004 0.0121567 2.741 0.0357727 2.79787C0.0593887 2.85473 0.0939993 2.90638 0.137619 2.94983L4.68778 7.5L0.137619 12.0502C0.049751 12.1381 0.000389416 12.2573 0.000389416 12.3815C0.000389416 12.5058 0.049751 12.625 0.137619 12.7129L2.28709 14.8624C2.33055 14.906 2.38219 14.9406 2.43906 14.9642C2.49592 14.9878 2.55689 15 2.61846 15C2.68004 15 2.741 14.9878 2.79787 14.9642C2.85473 14.9406 2.90638 14.906 2.94983 14.8624L7.5 10.3122L12.0502 14.8624C12.1381 14.9502 12.2573 14.9996 12.3815 14.9996C12.5058 14.9996 12.625 14.9502 12.7129 14.8624L14.8624 12.7129C14.906 12.6695 14.9406 12.6178 14.9642 12.5609C14.9878 12.5041 15 12.4431 15 12.3815C15 12.32 14.9878 12.259 14.9642 12.2021C14.9406 12.1453 14.906 12.0936 14.8624 12.0502Z" fill="white"/></svg>')
    center center / 100% 100% no-repeat transparent;
  position: fixed;
  top: 20px;
  right: 10px;
  z-index: 12;
}
.lightbox button {
  opacity: 0.5;
  cursor: pointer;
  transition: opacity 0.3s;
  text-indent: -3000px;
}
.lightbox button:hover {
  opacity: 1;
}

.listImages img{
max-height: 300px;
}

.lightbox__container img {
  max-width: 100%;
  max-height: 80vh;
  margin-top: 8vh;
  height: auto;
  animation: lightboxIn 0.5s;
}
.lightbox__container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 50px;
  margin-right: 50px;
  min-height: 100vh;
}
.lightbox__loader {
  width: 38px;
  height: 38px;
  opacity: 0.5;
  background: url(/images/loader.svg) center center no-repeat;
}
@keyframes lightboxIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}